//variavles
@import "variables";
@import "mixins";


#heading {
    font-size: $headingFontSize;
    color: $fontColor;
}

header {
    background: $themeColor;
    ul{
        width: 100%;
        @include clearFix;
    }

    li{
        float: left;
        width: 25%;
    }

    a{
        padding : 16px;
        display: block;
        text-align: center;
        &:hover {
            background : $stripColor;
        }
    }
}

#normalText {
    font-size: $normalFontSize;
    color: $fontColor;
}

#road {
    background: $greyColor;
    position: relative;
    width: 100%;
    height: 700px;
    box-sizing: border-box;

    .first-mario {
        position: absolute;
        top: 40px;
        left: 0px;
        animation: drive 5s ease-in-out 1s infinite both;
    }

    img {
        position: absolute;
        top: 398px;
        left: 0px;
        animation: drive 5s ease 1s infinite both;
    }
}

@keyframes drive {
    0%{transform: translateX(-200px)}
    100%{transform: translateX(1860px)}
}

#dashedLine {
    position: absolute;
    top : 350px;
    left: 0px;
    width: 100%;
    border: 8px dashed $stripColor
}



.image-1 {
    @include sass-mixin;
    
}

.image-2 {
    @include sass-mixin;
   
}